

.details{
    transition:0.3s ease;
}

@keyframes fadeinup {
    from{
        opacity:0;
        transform:translateY(20px)
    }
    to {
        opacity:1;
        transform:translateY(0px)
    }
}

@keyframes fadeindown {
    from {
        opacity:0;
        transform:translateY(-20px);
    }
    to {
        opacity:1;
        transform:translateY(0px);
    }
}

main {
    animation:fadeindown 1s ease-in-out forwards;
}
