@keyframes slide {
    from{
        opacity:0;
        transform:translateX(-250px);
    }
    to {
        opacity:1;
        transform:translateX(0px)
    }
}

@keyframes fadeinup {
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.animation-slide{
    animation:slide 2s ease-in-out forwards;
}

.container{
    border:2px solid rgb(66, 66, 66);
    box-shadow: 0px 15px 20px 0px rgb(255, 255, 255, 0.3);
    animation:fadeinup 2s ease-in-out forwards;
}

.fadeinupp{
    animation:fadeinup 2s ease-in-out forwards;
}

body{
    overflow-x:hidden;
}

.push-container{
    border:2px solid rgb(66, 66, 66);
    box-shadow:0 0 50px 0 rgba(255, 255, 255, 0.5)
}

.container2{
    border:2px solid rgb(66, 66, 66);
    animation:fadeinup 2s ease-in-out forwards;
    box-shadow:0 0 50px 0 rgba(255, 255, 255, 0.5)
}