@keyframes fadeinup {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeindown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}

.animate-fade-up {
    animation: fadeinup 1.5s ease-out forwards;
}

#Docs {
    animation: fadeindown 1.5s ease-out forwards;
}

.text-shadow{
    text-shadow:0px 0px 20px white;
}
.boxof{
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    color:white;
    backdrop-filter:blur(2px);
    box-shadow: inset 0 -40px 150px 0 rgba(255, 255, 255, 0.3);
    padding:20px;
    font-family:Helvetica;
}

.btn{
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    color:white;
    backdrop-filter:blur(2px);
    box-shadow: inset 0 -40px 150px 0 rgba(255, 255, 255, 0.2);
    padding:20px;
    font-family:Helvetica;
}

.btn:hover{
    border: 3px solid hsl(0, 0%, 100%, 0.2);
    color:white;
    backdrop-filter:blur(2px);
    box-shadow: inset 0 -40px 150px 0 rgba(255, 255, 255, 0.1);
    padding:20px;
    font-family:Helvetica;
}