@keyframes fadeinup {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeindown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}

.animate-fade-up {
    animation: fadeinup 1.5s ease-out forwards;
}

#Docs {
    animation: fadeindown 1.5s ease-out forwards;
}

.text-shadow{
    text-shadow:0px 0px 20px white;
}